/*
 * Copyright 2023 Sophie Tyalie
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>

/{
  zephyr,user {
    display = <&ch1115_display>;

    real_display_offsets = <0>, <0>;  // x/y offset
    real_display_dims = <128>, <55>;  // width/height

    /*
    keyboard-gpios =
      <&gpio0 18 GPIO_ACTIVE_HIGH>,  // K2 - Y4
      <&gpio0 7  GPIO_ACTIVE_HIGH>,  // K3 - D6
      <&gpio0 1  GPIO_ACTIVE_HIGH>,   // K4 - D0
      <&gpio0 2  GPIO_ACTIVE_HIGH>,   // K6 - D1
      <&gpio0 10 GPIO_ACTIVE_HIGH>,  // A2 - XMCLK
      <&gpio0 15 GPIO_ACTIVE_HIGH>,  // A3 - Y2
      <&gpio0 13 GPIO_ACTIVE_HIGH>,  // A4 - PCLK
      <&gpio1 16 GPIO_ACTIVE_HIGH>,  // A5 - Y9
      <&gpio1 7  GPIO_ACTIVE_HIGH>,  // P2 - CAMSCL
      <&gpio0 3  GPIO_ACTIVE_HIGH>,   // P1? - D2
      <&gpio0 4  GPIO_ACTIVE_HIGH>;   // K5? - D3
    */
  };

  keyboard: keyboard {
    compatible = "gpio-kscan";

    key_0: key_0 {
      input-gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      output-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
      zephyr,code = <INPUT_KEY_0>;
    };
  };

};

&i2c0 {
  clock-frequency = <I2C_BITRATE_FAST>;

  ch1115_display: ch1115@3c {
    compatible = "sinowealth,sh1106";
    reg = <0x3c>;
    height = <64>;
    width  = <128>;
    segment-offset  = <0>;
    page-offset     = <0>;
    display-offset  = <0>;
    multiplex-ratio = <63>;
    prechargep      = <0xD1>;
    segment-remap;
    com-invdir;
    com-sequential;
  };
};

&uart0 {
	status = "disabled";
};

