# Copyright (c) 2023 Sophie Tyalie
# SPDX-License-Identifier: Apache-2.0

config INPUT_GPIO_KSCAN
	bool "GPIO key matrix scanning input driver"
	default n
	depends on DT_HAS_KSCAN_ENABLED
	depends on GPIO
	help
	  Enable support key matrix input driver
